/* ------ RESET  ------ */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ------ CONTENT  ------ */

.wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.signup {
    max-width: 50rem;
    width: 100%;
}

.logo {
    text-align: center;
}

.logo__link {
    background: url('/assets/imgs/logo.png');
    display: inline-block;
    height: 8.7rem;
    width: 8.7rem;
}

.signup__title {
    color: #222C59;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.form {
    margin-top: 1.5rem;
}

.form__group {
    margin-bottom: 2rem;
    position: relative;
}

.form__group--center {
    text-align: center;
}

.form__input-text {
    background-color: #F5F6F8;
    border: .2rem solid #EDEDF1;
    border-radius: .8rem;
    font-size: 1.5rem;
    height: 6rem;
    outline: none;
    padding-left: 4.5rem;
    position: relative;
    width: 100%;
}

.form__input-text.error {
    border-color: #D95150;
}

.form__input-text::placeholder {
    color: #C1C6D0;
    font-weight: bold;
}

.form__input-checkbox {
    margin-right: .5rem;
}

.form__label.hide {
    left: 0;
    position: absolute;
    top: 1rem;
}

.form__input-icon {
    color: #8A93A5;
    font-size: 1.5rem;
    left: 1.5rem;
    position: absolute;
    top: 2.2rem;
}

.form__label {
    color: #454653;
    font-size: 1.5rem;
}

.form__link {
    color: #00A9C8;
}

.form__button-submit {
    background-color: #00A9C8;
    border-radius: 2.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8rem;
    height: 5rem;
    margin-top: 2rem;
    width: 15rem;
}

.form__message-error {
    color: #D95150;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5rem;
}

.requirements {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 1rem;
}

.requirements__progress-bar {
    background-color: #F3E24A;
    border-radius: .5rem;
    height: .5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.requirements__description,
.requirements__item {
    color: #9EA4AC;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.requirements__item.checked {
    color: #81BC3A;
    font-weight: bold;
}

.requirements__item .fas::before {
    content: "\f057"; 
}

.requirements__item.checked .fas::before {
    content: "\f058"; 
}